<br />
<div *ngFor="let group of filterOptions | keyvalue" class="mb-2 p-2 bg-dark rounded shadow-sm ">
  <h6 class="text-uppercase text-info fw-bold mb-2">{{ group.key | titlecase }}</h6>
  <div *ngFor="let item of group.value" class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      [id]="group.key + '-' + item"
      [checked]="selectedFilters[group.key].has(item)"
      (change)="toggleFilter(group.key, item)">
    <label class="form-check-label ms-2 text-light" [for]="group.key + '-' + item">{{ item }}</label>
  </div>
  <hr class="border-secondary" />
</div>
<div class="text-left">
  <button 
    class="btn btn-outline-light fw-light px-4 py-2" 
    style="opacity: 0.7; transition: opacity 0.3s ease;"
    (click)="resetFilters()"
  >
    Filtreleri Sıfırla
  </button>
</div>
<hr class="border-secondary" />
