
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Developer Community</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="developer-directory" routerLinkActive="active">Developers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="developer-directory" routerLinkActive="active">Other</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary sm" (click)="logout()">Çıkış</button>
      </li>
    </ul>
  </div>
</nav>
